<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

<div id="app">
  <h1 v-on:click="toggleMessage">Book Finder</h1>
  <p>{{ message }}</p>
  <p>{{ isbnStatus }}</p>
  <input v-model="isbn" v-bind:style="{ color: boxColor }" v-on:keyup="checkISBN" v-on:update="checkISBN"/>
  <br/>
  <book v-if="bookVisible" v-bind:google-books-id="googleBooksId" v-bind:title="title" v-bind:authors="authors" v-bind:date="date" v-bind:isbn10="isbn10" v-bind:isbn13="isbn13" v-bind:pages="pages" v-bind:image-link="imageLink" />
</div>

<script>
function checkISBN10(digits) {
  console.log('ISBN-10 checking ' + digits);
  if (digits[9].toUpperCase() == 'X') {
    digits[9] = '10';
  }
  var check = 0
  for (var i = 0; i < 10; i++) {
    check += (10-i) * parseInt(digits[i]);
  }
  console.log('Checksum is ' + check);
  console.log('Remainder is ' + check % 11);
  return ((check % 11) == 0);
}

function checkISBN13(digits) {
  console.log('ISBN-13 checking ' + digits);
  if (digits[12].toUpperCase() == 'X') {
    digits[12] = '10';
  }
  var check = 0
  for (var i = 0; i < 13; i++) {
    check += (i % 2 == 0 ? 1 : 3) * parseInt(digits[i]);
  }
  console.log('Checksum is ' + check);
  console.log('Remainder is ' + check % 10);
  return ((check % 10) == 0);
}

// to display the individual book info
Vue.component('book',{
  props: ['googleBooksId','title', 'authors', 'date', 'isbn10', 'isbn13', 'pages', 'imageLink'],
  data: function() { // must always be a function
    return { authorsList: this.authors.split(',') }
  },
  template: '<div> \
  <img v-bind:src="imageLink"/> \
  <ul> \
  <li>{{ title }}</li> \
  <template v-for="item in authorsList"> \
    <li>{{ item }}</li> \
  </template> \
  <li>{{ date }}</li> \
  <li>ISBN-10: {{ isbn10 }}</li> \
  <li>ISBN-13: {{ isbn13 }}</li> \
  <li>Google Book ID: {{ googleBooksId }}</li> \
  <li>{{ pages }} pages</li> \
  </ul> \
  </div>'
});

// main instance
var app = new Vue({
  el: '#app',
  data: {
    message: 'Hi there',
    isbn: '',
    isbnStatus: 'Not valid',
    boxColor: 'red',
    // book parameters from the API
    googleBooksId: '',
    title: '',
    authors: '',
    date: '',
    isbn10: '',
    isbn13:'',
    pages: '',
    imageLink: '',
    bookVisible: false
  },
  methods: {
    toggleMessage: function() {
      this.message = this.message == 'Hi there' ? 'Yo.' : 'Hi there';
      this.isbnStatus = "TOGGLED";
      this.boxColor = this.boxColor == 'green' ? 'red' : 'green';
      this.isbn = '';
    },
    checkISBN: function() {
      // validation success in a function (don't forget to bind here!)
      var queryISBN = function() {
        this.boxColor = "green";
        $.ajax({
          url: '/isbn',
          type: 'POST',
          data: { isbn: this.isbn },
          success: function(data) {
              // TODO: more complex data manipulation here based on what we get back from the backend
              console.log(data);
              this.message = "The API found " + data['num'] + " book(s) matchig this ISBN.";
              this.googleBooksId = data['google_books_id'];
              this.title = data['title'];
              this.authors = data['authors'];
              this.date = data['date'];
              this.isbn10 = data['isbn_10'];
              this.isbn13 = data['isbn_13'];
              this.pages = data['pages'];
              this.imageLink = data['image_link'];
              this.bookVisible = true;
            }.bind(this),
          error: function(error) {
              // TODO: more complex error message here?
              this.boxColor = "brown";
              this.bookVisible = false;
              this.message = "Book not found";
            }.bind(this)
        });
      }.bind(this);
      // clean any non-digit (or non-X) characters
      this.isbn = this.isbn.replace(/[^\dXx]/gi, '');

      // calculate checksum
      var digits = this.isbn.split('');
      if (this.isbn.length == 10 && checkISBN10(digits)) {
        console.log("ISBN-10 check passed!");
        this.isbnStatus = "ISBN-10";
        queryISBN();
        return true;
      }
      else if (this.isbn.length == 13 && checkISBN13(digits)) {
        console.log("ISBN-13 check passed!");
        this.isbnStatus = "ISBN-13";
        queryISBN();
        return true;
      }

      // not valid
      this.isbnStatus = "Not valid";
      this.boxColor = "red";
      this.bookVisible = false;
      return false;
    }
  }
});
</script>
